values-th.xml
/xumi_app/build/shared_preferences_android/intermediates/res/merged/release/values-tr/values-tr.xml
/xumi_app/build/shared_preferences_android/intermediates/res/merged/release/values-sv
